/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.portal {
    margin: 0;
    background-color: #5c5c5c;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
}

    .portal::after {
        content: "";
        background: url('/Content/images/portal-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

.header {
    font-family: 'Roboto', sans-serif;
}

    .header h1 {
        font-weight: 300;
        opacity: 0.4;
        font-size: 2rem;
        margin: 0;
    }

    .header p {
        font-weight: 300;
        opacity: 0.6;
        font-size: 4rem;
        margin: 0;
        margin-top: -0.5rem;
    }

.fields input {
    display: block;
    margin: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 5px;
    height: 1.5rem;
    color: rgba(255,255,255,0.7);
    padding: 15px;
    width: 15rem;
}

.fields {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn{
    text-align: center;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-30%);
    top: 30%;
    position: relative;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255,0.5);
}

::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255,0.5);
}

:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255,0.5);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,0.5);
}

.signInButton {
    background-color: #5B8B93;
    border: none;
    color: rgba(255,255,255,0.8);
    padding: 0.5rem 3rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 0.85rem;
    border-radius: 1rem;
    box-shadow: 0 3px rgba(0,0,0,0.2);
}

    .signInButton:hover {
        box-shadow: 0 3px rgba(0,0,0,0.8);
        color: white;
        background-color: #246078;
        transition: ease-in 0.5s;
        cursor: pointer;
    }

.rightLink {
    position: relative;
    bottom: 0;
}

.leftLink {
    position: relative;
    bottom: 0;
}

.bottomLinks {
    display: flex;
    justify-content: space-between;
    top: 3rem;
    position: relative;
}

    .bottomLinks a {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        text-decoration: none;
    }

.rightLink:after {
    content: "\003E";
    margin-left: 5px;
}

.leftLink:before {
    content: "\003C";
    margin-right: 5px;
}

.field-validation-error {
    color: #8B0000;
    font-family: 'Roboto', sans-serif;
}

.validation-summary-errors {
    display: none;
}

@media screen and (max-width: 520px) {
    .header h1 {
        font-size: 1.5rem;
    }
    .header p {
        font-size: 2.5rem;
    }
}
