@model IEnumerable<btek.Models.AdPostModel>

@using WebMatrix.Data
@{
    var email = "";
    if (Request.Cookies["EmailCookie"] != null)
    {
        email = Request.Cookies["EmailCookie"].Value;
    }
    var db = Database.Open("DefaultConnection");
    var conQuery = "SELECT IsContractor FROM AspNetUsers WHERE Email = '" + email + "'";
    var result = db.QuerySingle(conQuery)[0];
}

<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<body class="portal">
    <div class="loginWrapper">
        <div class="col-md-8">
            <div class="header" style="margin-top: 3rem;">
                <h1>HELLO,</h1>
                <p style="font-size: 6vw;">@email</p>
            </div>
            @if (result == false)
    {
        <p class="postingsHeader">Your Postings</p>
        <section style="overflow:auto; height: 50vh;">

            @foreach (var ad in Model)
    {
        if (ad.Email == email)
        {
            <div class="posting">
                <p class="postTitle">@ad.Description</p>
                <div class="adBottom">
                    <p class="postId">Post ID: @ad.AdId</p>
                    <p class="postDate">Post Date: @ad.Date</p>
                </div>
                <div class="buttons">
                    <input type="submit" value="Edit" class="button" />
                    <input type="submit" value="Delete" class="button" />
                </div>
            </div>
}
}
        </section>
        <div class="submitBtn">
            <input type="button" value="Post New Ad" class="button" onclick="location.href='/PostAd/Create'" />
        </div>
}
        </div>
    </div>
</body>