<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sNOw More | Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="portal">
    <div class="loginWrapper">
        <div class="hello">
            <h1>HELLO,</h1>
            <p>CONTRACTOR</p>
        </div>
        <div class="fields">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="signIn">
            <button class="signInButton">Sign In</button>
        </div>
        <div class="bottomLinks">
            <a class="switch" href="#">I'm a Client</a>
            <a class="newAccount" href="#">Create New Account</a>
        </div>
    </div>
</body>
</html>